html {
    min-height:100%;
}

body {
    background: url("../img/BUILDING.jpg") no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
}

main {
    min-height: 100%;
    flex: 1 0 auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

hr {
    width: 25vw;
    margin: 3vh auto;
    /*border-top: 1px solid white;*/
}

.dark-hr {
    border-top: 1px solid rgba(0,0,0,0.87);
}

.white-hr {
    border-top: 1px solid white;
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1100px) {

  .flow-text {
    font-size: 3rem;
  }

  nav, #menu-collapse, #menu-button {
    height: 128px;
    line-height: 128px;
  }
  #menu-button {
    font-size: 56px;
  }
  nav .brand-logo, h3 {
    font-size: 4rem;
  }

  hr {
    width: 35vw;
  }

  h1 {
    font-size: 2.5em;
  }
  h5 {
    font-size: 1.2em;
  }
  .section {
      padding-top: 128px;
      padding-bottom: 128px;
  }
  .site-header {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

}





/* ================================= NAVBAR ================================= */

.nav-wrapper {
    padding: 0 10vw;
}
nav ul a {
  font-size: 1.5rem;
  font-weight: 300;
}
.userView {
    height: 20vh;
    max-height: 208px;
}
.side-nav {
  width: 40vw;
}
.side-nav li, .side-nav a {
    height: 96px;
    line-height: 96px;
}
.side-nav a {
  font-weight: 300;
  font-size: 3em;
  padding-left: 40px;
  color: white;
}

/* =================== */





/* ================================= HEADER ================================= */

.site-header {
    height: calc(100vh - 64px);
}
/* HEADLINES */
#headlines {
    margin-top: 25vh;
}
#headlines h1 {
    font-weight: 300;
}
#headlines h5 {
    font-weight: 100;
    font-style: italic;
}

/* LEARN MORE BUTTON*/
.learn-more-button {
    margin-top: 25vh;
	  padding-bottom: 3px;
}
.learn-more-button a {
    text-align: center;
    color: white;
}
.learn-more-button a .material-icons {
    transition: .2s ease-out;
}
.learn-more-button a:hover .material-icons {
    margin-top: 10px;
}

/* =================== */


.class {
    color: rgb(235, 68, 52);
}


/* =============================== ABOUT ME ================================= */

.about-me {

}

.about-me img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 192px;
    border-radius: 128px;
}

.about-me .header {
    margin-bottom: 30px;
}

blockquote {
    border-left: 3px solid #444;
}
.tiny-text {
    font-size: 0.5em;
    margin-left: 10px;
}

.subaru-gif {
    display: block;
    margin: 3vh auto 2vh auto;
}
.subaru-quote {
    font-weight: light;
    font-style: italic;
    text-align: center;
}



/* LINKS */

ul#links {
    display: flex;
    justify-content: center;
}
ul#links > li {
    padding: 0 20px;
}
.link {
    /*font-size: 2em;*/
    width: 100%;
    letter-spacing: 8px;
    font-weight: 500;
    font-style: italic;
}
.link:hover {
    text-decoration: underline;
}
